
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./pics/c-d-x-PDX_a_82obo-unsplash.jpg);
    background-size: cover;
  }
  
  .form {
    background: rgba(0, 0, 0, 0.6);
    padding: 50px 18px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.6);
  }
  
  .input {
    display: block;
    padding: 17px 15px;
    margin: 20px 15px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px rgba(0, 0, 0, 0.2) solid;
    outline: none;
    border-radius: 25px;
    width: 200px;
    color: #ffd423;
    transition: 0.6s border-color;
  }
  
  .input:focus {
    border-color: #ffd423;
  }
  
  .form h1 {
    text-align: center;
    color: #ffd423;
    letter-spacing: 4px;
    padding: 5px;
  }
  
  .btn {
    padding: 17px;
    width: 200px;
    margin: 6px 15px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background: #ffd423;
    /* transition: 1s background; */
  }
  
  .btn:hover {
    background: #ffe789;
  }
  